.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
}

.fighter-preview___right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.fighter-preview___left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.fighter-preview-info {
  display: flex;
  color: #fff;
}

.fighter-preview-image {
  height: 200px;
}

.fighter-preview___right .fighter-preview-info {
  text-align: right;
  justify-content: right;
}

.fighter-preview___left .fighter-preview-info {
  text-align: left;
  justify-content: left;
}

.fighter-preview___right .fighter-preview-image {
  transform: scaleX(-1);
}
